/* @tailwind base;*/
@tailwind components;
@tailwind utilities;

.newOrder-btn {
  background-color: #000 !important;
  color: #fff !important;
  padding: 5px 10px !important;
  min-height: auto !important;
}

table.basic {
  @apply w-full rounded-sm shadow-md;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm  uppercase border-b px-4 py-2;
}

table.basic tr td {
  @apply py-1;
  text-align: center;
}

table.basic a {
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}

.btn-primary {
  @apply font-medium text-blue-600 hover:underline !important;
}
